DOCKER_SOCK=/var/run/docker.sock

HTTP_PORT=8080
HTTPS_PORT=4443

WORDPRESS_URL=mywordpress.local
WORDPRESS_CONFIG=./configs/wordpress/wp-config.php

TRAEFIK_CONFIG=./configs/traefik/traefik.toml

NGINX_CONFIG=./configs/nginx/nginx.conf

PHP_CONFIG=./configs/php/www.conf

MYSQL_ROOT_PASSWORD=qwe123qwe
MYSQL_HOST=database
MYSQL_USER=wordpress
MYSQL_PASSWORD=qwe123qwe
MYSQL_DATABASE=wordpress
MYSQL_EMPTY_PASSWORD=no